<mat-nav-list>
    <div class="profile-card">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="cachorrinho">
        <div class="header">
            <h2>Cachorro Lindo</h2>
            <h4>auau@dogmail.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item [routerLink]="[ '/' ]" routerLinkActive="active">Dashboard</a>
    <a mat-list-item [routerLink]="[ '/posts' ]" routerLinkActive="active">Posts</a>
    <a mat-list-item [routerLink]="[ '/articles' ]" routerLinkActive="active">Article</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item [routerLink]="[ '/contacts' ]" routerLinkActive="active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item [routerLink]="[ '/leads' ]" routerLinkActive="active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>